@charset "utf-8";

.myTable{border:1px solid #555;max-width:290px;color:#FFFFFF;font-size:9pt;position:relative;font-family:Arial,Helvetica,sans-serif;background-color: #000;padding:5px;text-align:left;}
.myItemName{font-size:13px}
.myGold{color:#e5cc80}
.myOrange{color:#ff8000}
.myPurple{color:#A335EE}
.myBlue{color:#0070DD}
.myGray{color:#c9c9c9}
.myGreen{color:#00FF00}
.myYellow{color:#ffd517}
.myRed{color:#d80000}
.myWhite{color:#ffffff}
.myBlueGem{color:#666666;display:block;background:url(blue-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myMetaGem{color:#666666;display:block;background:url(meta-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myOrangeGem{color:#666666;display:block;background:url(orange-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myPurpleGem{color:#666666;display:block;background:url(purple-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myRedGem{color:#666666;display:block;background:url(red-mini.gif) no-repeat 3px 4px;padding-left:19px}
.myYellowGem{color:#666666;display:block;background:url(yellow-mini.gif) no-repeat 3px 4px;padding-left:19px}
.socketImg{width:14px;height:14px;vertical-align:-20%;margin:0 7px 0 0;padding:0}
.tooltipRight{position:relative;float:right;clear:right;margin: 0 0 0 4px}
.bonusGreen{color:#00FF00}
.setNameYellow{color:#ffd517;font-size:11px}
.setItemIndent {display:inline;}
.setItemIndent span{margin-left:9px;}
.setItemYellow{color:#f8ffa8}
.setItemGray{color:#787880}
